{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Página principal</title>
{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bienvenido/a {{ user.username }}</h5>
        {% if messages %}
        <div class="alert alert-success">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <!-- Otro contenido de la tarjeta si es necesario -->
    </div>
</div>

{% else %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Bienvenido/a</h5>
        
        <!-- Otro contenido de la tarjeta si es necesario -->
    </div>
</div>
{% endif %}

{% endblock %}